<!doctype html>
<html lang="en">

<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="NarrowItDownApp">
  <div class="container" ng-controller="NarrowItDownController as narrowItDown">
    <div class="row">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="narrowItDown.searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowItDown.searchItems();">Narrow It Down For Me!</button>
      </div>
    </div>
    <div class="row" ng-if="narrowItDown.found.length">
      <found-items found-items="narrowItDown.found" on-remove="narrowItDown.removeItem(index)"></found-items>
    </div>

    <div class="row" ng-if="narrowItDown.message">
      <div class='alert alert-danger'>
        {{narrowItDown.message}}
      </div>
    </div>

  </div>

</body>

</html>